/RelatorioFA/.vs
/RelatorioFA/AcessoDados/bin
/RelatorioFA/AcessoDados/obj
/RelatorioFA/AppWinForm/obj
/RelatorioFA/AppWinForm/.vs
/RelatorioFA/DTO/bin
/RelatorioFA/DTO/obj
/RelatorioFA/Negocio/bin
/RelatorioFA/Negocio/obj
/RelatorioFA/Transacao/bin
/RelatorioFA/Transacao/obj
/RelatorioFa/*.docx
*.xml
*.user
*.png
*.jpeg